/* General Styles */
body {
    font-family:  sans-serif, sans-serif;
    background-size: cover;
    background-image:url('Untitled\ design\ \(2\).png');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container {
    background-color: #1389a646;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 64, 77, 0.1);
    width: 500px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #ff8000;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #00ff37;
}

#result {
    margin-top: 20px;
   
}

.hidden {
    display: none;
    
    
}

#result p {
    margin: 10px 0;
    font-size: 16px;
    color: #ffffff;
}

#result span {
    font-weight: bold;
    color: #fafafa;
}